html {
  height: 100%;
}

body {
  min-height: 100%;
}

.jumbotron {
  width: 80%;
  margin: 0px auto;
  text-align: center;
  background: black;
  color: white;
}

#the-schedule {
  width: 80%;
  margin: 0px auto;
}

#train-information {
  width: 80%;
  margin: 20px auto;
}
