html {
  height: 100%;
}

body {
  min-height: 100%;
  background: url("http://www.nationalgeographicexpeditions.com/assets/images/5129/hero-interior.jpg")
    no-repeat center center fixed;
  webkit-background-size: cover;
  moz-background-size: cover;
  o-background-size: cover;
  background-size: cover;
}

.jumbotron {
  width: 80%;
  margin: 0px auto;
  text-align: center;
  background: paleturquoise;
  color: olive;
}

#the-schedule {
  width: 80%;
  margin: 0px auto;
  background: gray;
  color: white;
}

#train-information {
  width: 80%;
  margin: 20px auto;
  background: gray;
  color: white;
}

.card-heading {
  text-align: center;
  background: purple;
}

.card-body {
  color: maroon;
}
