html {
  height: 100%;
}

body {
  min-height: 100%;
  background: url("https://cdn-image.travelandleisure.com/sites/default/files/1537816203/austria-train-AUSTRAINS0918.jpg")
    no-repeat center center fixed;
  webkit-background-size: cover;
  moz-background-size: cover;
  o-background-size: cover;
  background-size: cover;
}

.jumbotron {
  opacity: 0.8;
  width: 80%;
  margin: 0px auto;
  text-align: center;
  background: rgb(132, 10, 143);
  color: whitesmoke;
}

#the-schedule {
  opacity: 0.9;
  width: 80%;
  margin: 0px auto;
  background: gray;
  color: white;
}

#train-information {
  opacity: 0.9;
  width: 78%;
  margin: 20px auto;
  background: gray;
  color: white;
}

.card-heading {
  text-align: center;
  background: purple;
}

.card-body {
  color: rgb(226, 171, 88);
}
